body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  border-radius: 0.5rem;
  border: 1px solid #6f6f6f;
  padding: 1rem;
  margin: 2rem;
  width: auto;

  @media only screen and (min-width: 764px) {
    width: 50%;
    margin: 2rem auto;
  }
}

p {
  margin: 0;
}