button {
  height: 2.5rem;
  padding: 0 1rem;
  border: 1px solid #6f6f6f;
  border-radius: 0.5rem;
  color: #FFF;
  background-color: green;
}

button.small {
  height: auto;
  width: min-content;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: black;
}