@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Project Ideas</p
    <ul>
        <li>Email subscription</li>
        <li>Live Chat App</li>
    </ul>
</div>
