@page
@model IndexModel
@{
    ViewData["Title"] = "Dan's .NET Coconuts";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dan's .NET Coconuts</h1>
    <p>Learin' about .NET</p>
</div>
