
li {
  list-style: none;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  display: flex;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
  padding: 0.5rem;
}